
{% extends "home/base.html" %}
{% block title %}Головна сторінка{% endblock %}
{% block content %}
    <h1>Ласкаво просимо на наш Django сайт!</h1>
    <p>Це основний застосунок для роботи з маршрутизацією та шаблонами.</p>
    <hr>
    <h3>Основні розділи:</h3>
    <ul>
        <li><a href="{% url 'about' %}">Про нас</a> —
            дізнайтеся більше про цей проект.</li>
        <li><a href="{% url 'contact' %}">Контакти</a>
            — як з нами зв'язатися.</li>
    </ul>
    <h3>Приклади динамічних маршрутів:</h3>
    <ul>
        <li>
            <a href="{% url 'post_detail' id='1' %}">Пост №1</a>
            (Перевірка числових ID)
        </li>
        <li>
            <a href="{% url 'profile_detail' username='JohnDoe' %}">Профіль JohnDoe</a>
            (Перевірка літерних імен)
        </li>
        <li>
            <a href="{% url 'event_detail' year='2026' month='05' day='01' %}">
                Спеціальна подія</a> (Перевірка параметрів дати)
        </li>
    </ul>
{% endblock %}
